@import "../../../styles/bs-variables";

.nav-pills {
  .nav-link {
    border: $border-width $border-style $warning;

    &:hover {
      color: $nav-pills-link-active-color;
      background-color: $nav-pills-link-active-bg;
    }

    small {
      color: $dark;
    }

    + .nav-link {
      margin-left: 0.75rem;
    }
  }
}
